* {
  padding: 0;
  margin: 0;
}
body {
  padding: 20px
}

.container {
  display: grid;
  grid-template-areas: 
  "aa aa"
  "bb cc";
  gap: 20px;
}
.EligibleCustomersList {
  grid-area: aa;
}
.NotEligibleCustomersList {
  grid-area: bb;
}
.ExistingEligibleCustomersList {
  grid-area: cc;
}